.compteNavBar{
    padding-bottom: 0px;
    
    .boutton{
        color: white;
        padding-left: 2px;
        padding-right: 2px;

    }
    .left{
    
    }

    .right{
    }
}


.contenu{
    margin-top: 80px;
}






