.demande-form{
}
.demande-label{
font-size: 20px;
}

.text-area{
    margin-top: 5px;
    padding: 30x;
    font-size: 20px;
    border: 1px solid  rgb(2, 2, 48);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.myLabel{
    text-align: start;
    margin: 20px;
    font-size: 20px;


}



.listItem{
    margin-top: -20px;
}

.myInput{
    width: 100%;
}