



.container {
  padding: 1rem;
  margin-top: -20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.page-title {
  text-align: center;
}

.request-details {
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.request-detail {
  margin-bottom: 0.5rem;
}

.request-detail-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.request-detail-value {
  font-size: 1rem;
  color: #666;
}


.star-btn {
  color: gray;
  cursor: pointer;
}

 .rated {
  color: orangered;
}

.demande-details{
  overflow-y: scroll;
  overflow-x: hidden;
}

.notes{
  padding: 10px;
}