.label{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: rgb(2, 2, 48);
    position: sticky;
    overflow: hidden;
    top:0;
    width: 100%;
    
}


.formLabel{

    padding: 10px;
    font-weight: 900;
    margin-left: 10px;
    font-size: 16px;
}

