

.tool-bar{
    h2{
        color: white;
    }
    .icon{
        color: white;
        font-size: 30px;
    }
    background-color: rgb(2 ,2,48);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link-styl{
        background-color: rgb(2, 2, 48);
        color: white;
        font-size: 20px;
}